<!DOCTYPE html>
<html lang="en" ng-app="touchOfModern" class="no-js">
<html>
  <head>
    <meta charset="utf-8">
    <title>Touch of Modern</title> 
  	<link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.min.css" >
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body ng-controller="productCtrl">
  	<loading ng-show="!items.length"></loading>
  	
    <div class="container" ng-show="items.length">
  		<div class="row text-center">
    			<h1>Welcome to Touch of Modern</h1>
    			<h4>Live beyond expectations</h4>
    	</div>
    	
      <div id="content" ng-repeat="item in items | limitTo:limit">
        <product></product>
      </div>

      <div class="text-center">
        <a href="" class="showMore" role="button" ng-click="increment()">Show more</button></a>
      </div>
    </div>
    
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="js/app.js"></script>
    <script src="js/loading.js"></script>
    <script src="js/product.js"></script>
    <script src="js/productCtrl.js"></script>
  </body>
</html>